<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/javaproject/src/p2023_08_04/FileOutputStreamTest.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="p2023_08_04.FileOutputStreamTest"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="javaproject"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\user\Downloads\(KD)데이터융합 자바(JAVA) 응용 SW개발자 취업과정(2023_07_11) (41)\4\실행하는 방법.txt&#13;&#10;C:\Users\user\Downloads\(KD)데이터융합 자바(JAVA) 응용 SW개발자 취업과정(2023_07_11) (41)\4\실행하는 방법2.txt"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="javaproject"/>
</launchConfiguration>
